<!DOCTYPE html>
<html>
<head>
  <title>Official web page - techno DJ and producer Ritzi Lee</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/UL_trans.png">
    </a>
    <h1>Official web page (Coming soon)</h1>
    <p>For bookings : <a target="mailto:booking.techno.artist@gmail.com">MAIL</a></p>
  </div>
</div>

</body>
</html>
