<!DOCTYPE html>
<html>
<head>
  <title>Official web page - techno DJ and producer Ritzi Lee</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Java web app on Heroku</h1>
    <p>This is a sample Java application 'ritzi-lee-web' deployed on Heroku.</p>
  </div>
</div>

</body>
</html>
